VITE_API_URL=https://larforte.seudominio.com
VITE_SITE_URL=https://larforte.seudominio.com
VITE_TIMEZONE=America/Sao_Paulo

WHATSAPP_GROUP_ID=120363409125356830@g.us

DOMAIN=larforte.seudominio.com
QRCODE_AUTH=admin:$$2y$$05$$exemplo.troque.este.hash
